h1 {
    color: black;
    text-align: center;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: medium;
}


h2{
color: black

} 




.styleli {
    color: black;
    font-weight: 300;
    font-size: 18px;
}


.align-center {
    text-align: center;
    list-style-position: inside;
}

.mybutton{
background-color: aqua;
color: #0941f8;
padding: 10px 20px;
border: none;
cursor: none;
margin: 5px;
}

.image {
    width: 300px;
    
    height:auto;
}

.gradiant {
    background: linear-gradient(to right, green ,red,yellow);
}

